<div cdkDropListGroup>
    <div class="example-container">
      <h2>To do</h2>
      <div
        cdkDropList
        [cdkDropListData]="departments"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of departments" cdkDrag>{{item.name}}</div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Done</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="employees"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of employees" cdkDrag>{{item.preferredFullName}}</div>
      </div>
    </div>

    <div class="row" *ngIf="alert">
        <div class="col-4">
          <div class="alert alert-primary" role="alert">
              {{results}}
            </div>
        </div>
    </div>
    </div>